/* Skill */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 170px;
    perspective: 1000px;
  }
  .subhead3skill {
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    opacity: 0.8;
  }
  .centerskill {
    padding-top: 80px;
    text-align: center;
    z-index: 0;
    font-weight: 200;
    color: black;
  }
  .quoteskill {
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    color: black;
    /* font-style: italic; */
    font-weight: 200;
  }
  
  .authorskill {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 200;
  }
  .outercontainer {
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .flip-card-inner {
    z-index: 0;
  
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
    background-color: white;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }

  .skill {
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
  }
  
  .container {
    width: 100%;
    display: flex;
  }
  
  .centered5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 60px;
  }

  .center3 {
    padding-top: 100px;
    text-align: center;
    z-index: 0;
    font-weight: 900;
  }
  .center2 {
    padding-top: 400px;
    z-index: 0;
  }
  .height2 {
    height: 100px;
    width: 100px;
    z-index: 0;
  }
  .skilllabel {
    font-size: 25px;
    text-align: center;
    font-weight: 300;
  }
  .height3 {
    height: 90px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.2s;
  }
  .height3:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
  }
  .eachskill {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .skills {
    width: 100%;
    padding: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 600px) {
    .eachskill {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .skills {
      width: 80%;
      padding: 0px;
      text-align: center;
      margin: auto;
    }
    .height3 {
      height: 50%;
      width: 50%;
      padding: 10px;
      z-index: 0;
  
      transition: 0.2s;
    }
    .skilllabel {
      font-size: 20px;
      text-align: center;
      font-weight: 300;
      z-index: -5;
    }
    .height2 {
      height: 90px;
      width: 90px;
      padding: 0px 0px 10px 0px;
      z-index: 0;
    }
  }